h1 {
    color: black;
}

body {
    text-align: center;
}

.wrap {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 3px;
    background-color: black;
    padding: 12px;
}

.grid-item {
    background-color: green;
}

[data-color="white"]::after,
[data-color="black"]::after {
  conntent:'';
  display: block;
  height: 100%;
  border-radius: 50%;
}

[data-color="white"]::after{
    background-color:white;
}

[data-color="black"]::after{
    background-color:black;
}

